
body{
    background-color: rgb(172, 108, 231);
}
.encabezado{
    display: flex;    
    align-items: baseline;
    justify-content:space-around;
    width: 100%;
    height: 80px;
    background-color: rgb(74, 22, 122);
}
.titulo{
    text-justify:center;
    width: 400px;
    height: 50px;
}
.marca{
    text-size-adjust: 20px ;
    color: rgb(136, 225, 236);
}
.enlaces{
    display: flex;
    justify-content:flex-end;
    text-align: right;
    text-justify:distribute;
    width: 400px;
    height: 40px;
}
a#desvios{
    width: 100px;
    height: 30px;
    text-align: center;
    color: rgb(136, 225, 236);
}
.promoBancos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    width: 100%;
    height: 50px;
}
.miniBox{
    border: solid;
    text-align: center;
    border-color: rgb(127, 64, 185);
    width: 300px;
    height: 30px;
}
#oferta{
    text-align: center; 
}
img{
    display: flex;
    align-items: center;
    width: 450px;
    height: 350px;
}
.cuerpo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 0 auto;
}
.promos{
    border: solid;
    border-color: rgb(127, 64, 185);
    width: 200px;
    height: 300px;
}
.boxCompra{
    display: flex;
    align-items:end;
    text-align:justify;
    border: solid;
    border-color: rgb(127, 64, 185);
    width: 150px;
    height: 100px;
}
button{
    display: flex; 
    align-items:flex-end;
    width: 70px;
    height: 20px;
}

input{
    width: 30px;
    height: 15px;
}

.piedepagina{
    display: flex;    
    align-items: baseline;
    justify-content:space-around;
    background-color: rgb(74, 22, 122);
    width: 100%;
    height: 50px;
}
.comerciles{
    display: flex;
}
span{
    font-weight: bold;
}


.lista {
    flex-wrap:wrap;
    display: flex;
    align-items:flex-end;
    text-align:unset;
    list-style-type: none; //* Quitar el estilo de lista por defecto */
}

.lista li {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: space-around;
    text-align:justify;
    border: solid;
    border-color: rgb(127, 64, 185);
    width: 180px;
    height: 100px;
    margin: 5px;
}