
body{
    background-color: rgb(193, 156, 228);
}
/*-- Se le da color de fondo a las paginas--*/

.encabezado{
    display: flex;    
    align-items: baseline;
    justify-content:space-around;
    width: 100%;
    height: 80px;
    background-color: rgb(74, 22, 122);
}
.titulo{
    text-justify:center;
    width: 400px;
    height: 50px;
}
.marca{
    text-size-adjust: 20px ;
    color: rgb(136, 225, 236);
}
.enlaces{
    display: flex;
    justify-content:flex-end;
    text-align: right;
    text-justify:distribute;
    width: 400px;
    height: 40px;
    padding: 10px;
}

a.desvios{
    font-size: 20px;
    font-weight: bold;
    width: 100px;
    height: 30px;
    text-align: center;
    color: rgb(136, 225, 236);
    padding: 15px;
}
a.desvios:hover{
    color:  rgb(199, 237, 241);
    font-size: 25px;
}

/*-- Hasta aca se utilizan clases para el Encabeado de la Pagina--*/

.subEncabezado{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    width: 100%;
    height: 60px;
    padding: 5px;
}
.miniBox{
    border: solid;
    text-align: center;
    border-color: rgb(127, 64, 185);
    width: 230px;
    height: 30px;
    padding: 5px;
}

/*-- hasta aqui Sub enbezado, utilizando clases para promos bancarias--*/

#oferta{
    text-align: center; 
}

img.imgPlano{ /*-- utilizo un tamano espesifico para el plano--*/
    display: flex;
    align-items: center;
    width: 550px;
    height: 450px;
}
.Historia{
    display: flex;
    flex-direction:row;
    text-align: justify;
    justify-content: space-around;
    width: 100%;
    height: 230px;
}
.parrafoHistoria{
    font-size: 16px;
    font-weight: bold;
    width: 50%;
    height: 230px;
    margin: 60px;
}

img.panoramicaSuper{
    width: 600px;
    height: 200px;
}
img.promos{
    display: flex;
    align-items: center;
    width: 250px;
    height: 400px;
}

.cuerpo{   /* es el div contenedor Principal para todas las HTML*/
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 560px;
}
.promos{ /*Classe especial para Index.HTML*/
    border: solid;
    border-color: rgb(127, 64, 185);
    width: 250px;
    height: 400px;
}

/* Elementos principales para HTML de Catalogo*/
.cuerpoCatalogo{   /* es el div contenedor Principal para todas las HTML*/
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 2000px;
}
button{
    font-size: 20px;
    font-weight: bold;
    display: flex; 
    text-align: Center;
    width: 100px;
    height: 40px;
}
.button:hover {  /*-- cambiando color al pasar el cursor--*/
    background-color: rgb(0, 89, 255);
    color: white;
    font-weight: bold;
}

input{
    background-color: rgb(174, 174, 223);
    font-size: 16px;
    width: 45px;
    height: 25px;
}

.lista {  
    display: flex;
    flex-wrap:wrap;
    font-weight: bold;
    text-align:center;
    list-style-type: none;
    
}

.lista li { 
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: space-around;
    border: solid;
    border-color: rgb(127, 64, 185);
    width: 170px;
    height: 260px;
    padding: 20px;  /* espacie los productos para mejor visual*/
    margin: 20px;
}
.cierreCompra{
    display: flex;
    flex-direction:row;
    align-items:flex-start;
    justify-content: space-between;
    border: solid;
    width: 60%;
    height: 60px;
    padding: 20px;
    margin: 20px;
}
/* FIN Elementos principales para HTML de Catalogo*/

/* Comienza clases de html contactos*/
.contactoCliente{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items:flex-start;
    width: 100%;
    height: 560px;
}
.datos{
    width: 300px;
    height: 20px;
}
.datosComentario{
    background-color: rgb(174, 174, 223);
    width: 500px;
    height: 100px;
}
#enviar{
    display: flex; 
    text-align: justify;
    width: 100px;
    height: 40px;
}
#formaPago{
    display: flex; 
    font-size: 20px;
    font-weight: bold;
    width: 100px;
    height: 40px;
}

/*-- Aqui commienza las clases para el pie de pagina--*/
.piedepagina{
    display: flex;    
    align-items: baseline;
    justify-content:space-around;
    background-color: rgb(74, 22, 122);
    color: rgb(108, 200, 212);
    width: 100%;
    height: 50px;
}
.comerciles{
    display: flex;
    color: rgb(136, 225, 236);
    font-size: 10px;

}
span{
    font-weight: bold;
    color: rgb(136, 225, 236);
}




